include README.md
include LICENSE
include pyproject.toml
include setup.py

# Include Python packages
recursive-include openptv2 *.py *.pxd
recursive-include algorithms *.py
recursive-include gui *.py *.toml

# Include tests
recursive-include algorithms/tests *.py
recursive-include gui/tests *.py
recursive-include tests *.py
